<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ceh.spring.securitydb.mapper.RoleMapper">

    <resultMap id="roleMap" type="com.ceh.spring.securitydb.domain.Role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <select id="getRolesByUserId" parameterType="java.lang.Long" resultMap="roleMap">
        select r.id,r.role_name
        from user_role ur,
             role r
        where ur.user_id = #{userId}
        and   r.id = ur.role_id
    </select>
</mapper>